/* css headerheader*/

a {
    font-family: emoji;
}

header.theme {
    font-size: 23px;
    font-family: emoji;
}

main .theme {
    font-size: 50px;
    font-family: CURSIVE;
}

.nav-item a {
    font-size: 18px;
}

.card button {
    font-size: 15px;
    font-family: emoji;
}

.card .details {
    font-size: 15px;
    font-family: emoji;
}

/* css table */

.table tr {
    text-align: center;
}

.table tr td {
    font-family: emoji;
    font-size: 18px;
}

.table .delete-subject-inList {
    font-family: system-ui;
    font-size: 15px;
}


/* css footer */

footer div {
    font-size: 20px;
    font-family: emoji;
}