<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<head>
    <meta charset="UTF-8"/>
    <title>Index Page</title>
</head>
<body>
<header></header>
<main>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xác nhận xoá</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bạn có chắc muốn xoá môn này khỏi thời khoá biểu không?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary node-delete">Xoá</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <!-- list-subject-choose -->
        <div class="list-subject-choose mt-3">
            <h3 class="text-center">List subject create timetable</h3>
            <div class="row">
                <div class="col-12">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Tên học phần</th>
                            <th scope="col">Mã HP</th>
                            <th scope="col">Loại Lớp</th>
                            <th scope="col">Hành động</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="subject, state : ${resultSubject} ">
                            <th scope="row" th:text="${state.index + 1}">1</th>
                            <td th:text="${subject.tenHocPhan}" class="nameHp"></td>
                            <td th:text="${subject.maHocPhan}"></td>
                            <td th:text="${subject.loaiLop}"></td>
                            <td>
                                <button type="button" class="btn btn-danger delete-subject-inList ">DELETE
                                </button>
                            </td>
                        </tr>
                       <tr>
                           <span class="total" th:text="${#lists.size(resultSubject)}"></span>
                       </tr>

                        </tbody>
                    </table>
                </div>

            </div>

        </div>
        <!-- end list-subject-choose -->
        <!-- create timetable -->
        <div class="create-timetable mt-3">
            <div class="row">
                <div class="col-12">
                    <button type="button" class="btn btn-primary text-center create-timetable-all">CREATE ALL
                        TIMETABLE
                    </button>
                    <button type="button" class="btn btn-primary text-center " id="myTimetable">CREATE MY TIMETABLE
                    </button>
                </div>
                <div class="col-12 mt-3">
                    <!-- create-timetable-all -->
                    <div id="accordion" class="d-none">
                        <!--card1-->
                        <div class="card" th:each="timetable, state : ${timetableAll}">
                            <div class="card-header">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse"
                                            th:data-target="${'#' + state.index}"
                                            aria-expanded="true" th:aria-controls="${state.index}"
                                            th:text="'TimeTable ' + ${state.index + 1}">
                                    </button>
                                </h5>
                            </div>
                            <div th:id="${state.index}" class="collapse" aria-labelledby="headingOne"
                                 data-parent="#accordion">
                                <div class="card-body">
                                    <table class="table table-dark timeTableCapture">
                                        <thead>
                                        <tr>
                                            <th scope="col">Thứ</th>
                                            <th scope="col"></th>
                                        </tr>
                                        </thead>
                                        <tbody >
                                        <tr th:each=" i: ${#numbers.sequence(2, 6)}">
                                            <th scope="row" th:text="${i}" ></th>
                                            <th:block th:each="time : ${timetable}">
                                                <td th:if="${time.thu} == ${i}">
                                                    <span th:text="${time.tenHocPhan}"></span>
                                                    <br>
                                                    <span th:text="'Mã Học Phần : ' + ${time.maHp}"></span>
                                                    <br>
                                                    <span th:text="'Thời gian : ' + ${time.thoiGian}"></span>
                                                    <br>
                                                    <span th:text="'Số buổi : ' + ${time.buoi}"></span>
                                                </td>

                                            </th:block>

                                        </tr>

                                        </tbody>
                                    </table>
                                    <button type="button" class="btn btn-primary export">Export</button>
                                </div>
                            </div>
                        </div>
                        <!--end card 1-->

                    </div>
                    <!-- end-create-timetable-all -->

                    <!-- create-mytimetable -->
                    <div class="create-my-timetable d-none">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Tên môn học</th>
                                <th scope="col">Chọn lịch</th>
                            </tr>
                            </thead>
                            <tbody >
                            <tr th:each="entry, itemIndex : ${myTimeTable}">
                                <th scope="row" th:text="${itemIndex.index + 1}">1</th>
                                <td th:text="${entry.key} "></td>
                                <td>
                                    <form action="">
                                        <div class="form-group">
                                            <select class="form-control select-option"
                                                    th:id="'id' + ${itemIndex.index}">
                                                <option th:each="itemSub : ${entry.value}"
                                                        th:value="${itemSub.id}">
                                                    <span th:text="'Mã lớp: '+ ${itemSub.maLop} + '- Mã lớp kèm : ' +
                                                     ${itemSub.maLopKem} + ' - Thứ : ' + ${itemSub.thu} + ' - Thời gian: '
                                                     + ${itemSub.thoiGian}"></span>
                                                </option>

                                            </select>
                                        </div>
                                    </form>
                                </td>

                            </tr>


                            </tbody>

                        </table>
                        <button type="submit" class="text-center btn btn-primary btnMyTimeTable">Create TimeTable
                        </button>


                        <div id="thoiKhoaBieu" class="d-none">
                            <h3>Thời khoá biểu của bạn</h3>

                            <table class="table table-dark timeTableCapture">
                                <thead>
                                <tr>
                                    <th scope="col">Thứ</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody class="time-table-created">


                                </tbody>
                            </table>
                            <button type="button" class="btn btn-primary export">Export</button>

                        </div>

                    </div>

                    <!-- end create my timetable -->

                </div>

            </div>
        </div>
        <!-- end create timetable -->
    </div>

</main>

<footer>

</footer>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>
<script th:src="@{/js/creatTimeTable.js}"></script>
<script>
    $('.export').click(function (){
        html2canvas($(this).siblings('.timeTableCapture'), {
            onrendered: function (canvas) {
                var url = canvas.toDataURL();

                var triggerDownload = $("<a>").attr("href", url).attr("download", "abc.jpeg").appendTo("body");
                triggerDownload[0].click();
                triggerDownload.remove();
            }
        });
    })
</script>
</body>
</html>